<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oto Viet</title>
    @Styles.Render("~/bundles/css")
    
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/js")

    @RenderSection("Styles", required: false)

</head>

<body>    
    <div id="div-parent">
        <div id="div-header>">
            Add Logo here
        </div>
        <div id="div-menu" class="meta-text">
            @{ Html.RenderPartial("~/Views/Shared/Menu.cshtml"); }
        </div>
        <div id="div-content" class="row">
            <div id="div-left" class="col-sm-2">
                @{ Html.RenderPartial("~/Views/Shared/CarList.cshtml"); }
            </div>
            <div id="div-center" style="width:auto">
                @RenderBody()
            </div>
            <div id="div-right" class="col-sm-3">
                @{ Html.RenderPartial("~/Views/Shared/Adverstise.cshtml"); }
            </div>
        </div>
        <div id="div-footer">
            <p>Oto2018 Corp.</p>
        </div>
    </div>
    


    @RenderSection("Scripts", required: false)

</body>
</html>
